<!doctype html>
<html lang="en" ng-app="qibud">
<head>
  <meta charset="utf-8">
  <meta name="description" content="QIBUD - Collaborative information management">
  <script>
    // if user logs in with oauth, user token will be in query string so look for it. otherwise, check browser storage for token
    var tokenParamMatch = RegExp('[?&]user=([^&]*)').exec(window.location.search),
        tokenParam = tokenParamMatch && decodeURIComponent(tokenParamMatch[1].replace(/\+/g, ' '));
    if (tokenParam) {
      var data = JSON.parse(tokenParam);
      window.localStorage.token = data.token;
      window.localStorage.user = JSON.stringify(data.user);
    } else {
      var token = window.sessionStorage.token || window.localStorage.token,
          user = token && JSON.parse(window.sessionStorage.user || window.localStorage.user);
      if (!user || user.exp < Math.round(new Date().getTime() / 1000)) window.location.replace('/signin.html');
    }
  </script>
  <title ng-bind="common.title">QIBUD</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body ng-controller="DashboardCtrl" style="background-color: white;">
  <growl-notifications></growl-notifications>
  <growl-notification class="alert alert-dismissable alert-success fading"  ttl="10000">
    <button type="button" class="close" data-dismiss="alert" ng-click="$growlNotification.remove()">×</button>
    <p>Welcome {{common.user.name}}!</p>
  </growl-notification>
  <div id="page-wrapper" ng-class="{'active': toggle}" ng-cloak  ng-controller="SearchCtrl">

    <!-- Sidebar -->

    <div class="shadow-z-5" id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            QiBud Menu
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list" ui-sref-active="active">
          <a ui-sref="home.timeline">Timeline <span class="menu-icon fa fa-clock-o"></span></a>
        </li>
        <li class="sidebar-list" ui-sref-active="active">
          <a ui-sref="home.budgraph">Bud graph <span class="menu-icon fa fa-share-alt"></span></a>
        </li>
        <li class="sidebar-list" ui-sref-active="active">
          <a ui-sref="home.stickers">Bud list <span class="menu-icon fa fa-list-alt"></span></a>
        </li>
        <li class="sidebar-title separator"><span>Actions</span></li>
        <li class="sidebar-list" ui-sref-active="active">
          <a ui-sref="bud.editor">New bud <span class="menu-icon fa fa-pencil-square-o"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/Loupio/qibud" target="_blank">
            Github
          </a>
        </div>
        <div class="col-xs-4">
          <a target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="http://www.qibud.com">
            Support
          </a>
        </div>
      </div>
    </div>

    <!-- End Sidebar -->

    <div id="content-wrapper" >
      <div class="page-content" style="background-color: white;">

        <!-- Header Bar -->

        <div class="row header">
          <div class="col-xs-2">
            <div class="meta" breadcrumbs>
              <div class="breadcrumb-links" ng-repeat="breadcrumb in breadcrumbs">
                <a ng-class="breadcrumb.class" ui-sref="{{breadcrumb.stateName}}">{{breadcrumb.text}}</a>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
              <input type="text"
                class="form-control input-lg"
                ng-model="query"
                placeholder="Search..."
                ng-change="search(query)">
          </div>
          <div class="col-xs-6">
            <div class="user pull-right">
              <div class="item">
                <h6 class="green">Level {{common.user.lvl}}</h6>
                <h6 class="orange">{{common.user.xp}} XP</h6>
              </div>
              <div class="item dropdown">
                <a class="dropdown-toggle">
                  <img ng-src="{{common.user.picture}}" alt="">
                </a>
                <ul class="dropdown-menu dropdown-menu-right shadow-z-5">
                  <li class="dropdown-header">
                    {{common.user.name}}
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a ui-sref="profile">
                      Profile
                    </a>
                  </li>
                  <li class="link">
                    <a ng-click="common.clearDatabase()">
                      Clear Database
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="" ng-click="common.logout()">
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
              <div class="item dropdown">
               <a href="#" class="dropdown-toggle">
                  <i class="fa fa-envelope-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" ng-controller="MailboxCtrl">
                  <li class="dropdown-header">
                    Emails
                  </li>
                  <script type="text/ng-template" id="mail.html">
                      <div class="modal-header">
                          <h3 class="modal-title">{{email.subject}}</h3>
                      </div>
                      <div class="modal-body">
                        To:
                        <div class="table-responsive">
                          <table class="table table-hover">
                            <tbody>
                              <tr ng-repeat="mail in email.to">
                                <td><span><i class="fa fa-user"></i></span> {{ mail }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="well" ng-bind-html="email.content"></div>
                      </div>
                      <div class="modal-footer">
                          <button class="btn btn-primary" ng-click="ok()">Convert to bud</button>
                          <button class="btn btn-warning" ng-click="cancel()">Delete</button>
                      </div>
                  </script>
                  <li class="divider"></li>
                  <li ng-repeat="email in emails">
                    <a ng-click="openEmail(email)">{{email.subject}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- End Header Bar -->

        <!-- Main Content -->
        <div class="jumbotron" ng-show="results.length > 0">
          <h6>Search results:</h6>
          <a ui-sref="bud.viewer({budId : r._source.id})" ng-repeat="r in results" ng-show="r._source.id">{{r._source.title}}<span class="menu-icon fa fa-leaf"></span></a>
        </div>
        <section data-ui-view>
        </section>
      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->

<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
<script src="/bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
<script>
    $(document).ready(function() {
        $.material.init();
    });
</script>

<script src="/bower_components/cytoscape/dist/cytoscape.js"></script>
<script src="/bower_components/tinymce/tinymce.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/res/qibud-css.js"></script>
<script src="/res/qibud-ext.js"></script>
<script src="/res/qibud-mods.js"></script>
<script src="/res/qibud-packs.js"></script>
<script src="/app.js"></script>
</body>
</html>
