<!doctype html>
<html lang="en" ng-app="qibud">
<head>
  <meta charset="utf-8">
  <meta name="description" content="QIBUD - Collaborative information management">
  <script>
    // if user logs in with oauth, user token will be in query string so look for it. otherwise, check browser storage for token
    var tokenParamMatch = RegExp('[?&]user=([^&]*)').exec(window.location.search),
        tokenParam = tokenParamMatch && decodeURIComponent(tokenParamMatch[1].replace(/\+/g, ' '));
    if (tokenParam) {
      var data = JSON.parse(tokenParam);
      window.localStorage.token = data.token;
      window.localStorage.user = JSON.stringify(data.user);
    } else {
      var token = window.sessionStorage.token || window.localStorage.token,
          user = token && JSON.parse(window.sessionStorage.user || window.localStorage.user);
      if (!user || user.exp < Math.round(new Date().getTime() / 1000)) window.location.replace('/signin.html');
    }
  </script>
  <title ng-bind="common.title">QIBUD</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/responsive-dashboard/css/dashboard/dashboard.css"/>
  <!-- <link rel="stylesheet" href="/app.css"> -->

</head>

<body ng-controller="DashboardCtrl">
  <div id="page-wrapper" ng-class="{'active': toggle}" ng-cloak>

    <!-- Sidebar -->

    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a href="#" ng-click="toggleSidebar()">
            QiBud Menu
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list" ui-sref-active="active">
          <a ui-sref="bud.home">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list" ui-sref-active="active">
          <a ui-sref="bud.editor">Editor <span class="menu-icon fa fa-pencil-square-o"></span></a>
        </li>
        <li class="sidebar-title separator"><span>Followed buds</span></li>
        <li class="sidebar-list">
          <a href="#" target="_blank">{{bud.title}} <span class="menu-icon fa fa-leaf"></span></a>
        </li>
        <li class="sidebar-title separator"><span>Actions</span></li>
        <li class="sidebar-list">
          <div ui-view="Team">
          </div>
        </li>

      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/Loupio/qibud" target="_blank">
            Github
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="http://www.qibud.com">
            Support
          </a>
        </div>
      </div>
    </div>

    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->

        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right">
              <div class="item dropdown">
                <a href="#" class="dropdown-toggle">
                  <img ng-src="{{common.user.picture}}" alt="">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    {{common.user.name}}
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a ui-sref="profile">
                      Profile
                    </a>
                  </li>
                  <li class="link">
                    <a href="#" ng-click="common.clearDatabase()">
                      Clear Database
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="" ng-click="common.logout()">
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
              <div class="item dropdown">
               <a href="#" class="dropdown-toggle">
                  <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Notifications
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">...</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="meta" breadcrumbs>
              <div class="page">
                {{breadcrumbs[0].text}}
              </div>
              <div class="breadcrumb-links" ng-repeat="breadcrumb in breadcrumbs">
                <a ng-class="breadcrumb.class" ui-sref="{{breadcrumb.stateName}}">{{breadcrumb.text}}</a>
              </div>
            </div>
          </div>
        </div>

        <!-- End Header Bar -->

        <!-- Main Content -->

        <section data-ui-view>
        </section>
      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->

<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/lodash/dist/lodash.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower_components/ui-router-extras/release/ct-ui-router-extras.min.js"></script>
<script src="/bower_components/angular-ui-router-breadcrumbs/dist/angular-ui-router-breadcrumbs.js"></script>
<script src="/bower_components/angular-elastic/elastic.js"></script>
<script src="/bower_components/angular-cookies/angular-cookies.js"></script>
<script type="text/javascript" src="/bower_components/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-ui-tinymce/src/tinymce.js"></script>

<script src="/budPacks/qibud-org-teams/pack.js"></script>
<script src="/budPacks/qibud-org-teams/edit-controller.js"></script>
<script src="/budPacks/qibud-org-teams/view-controller.js"></script>
<script src="/app.js"></script>
<script src="/modules/common/common.js"></script>
<script src="/modules/common/api-service.js"></script>
<script src="/modules/dashboard/dashboard.js"></script>
<script src="/modules/home/home.js"></script>
<script src="/modules/home/home-controller.js"></script>
<script src="/modules/editor/editor.js"></script>
<script src="/modules/editor/editor-controller.js"></script>
<script src="/modules/viewer/viewer.js"></script>
<script src="/modules/viewer/viewer-controller.js"></script>
<script src="/modules/viewer/viewer-sharebox-controller.js"></script>
<script src="/modules/profile/profile.js"></script>
<script src="/modules/profile/profile-controller.js"></script>
</body>
</html>
