<ul class="cbp_tmtimeline">
  <li ng-repeat="event in events | orderBy:'_id':true ">
    <time class="cbp_tmtime" datetime="{{event.when}}"><span>{{event.when | date:'dd MMMM'}}</span> <span>{{event.when | date:'hh:mm'}}</span></time>
    <div class="cbp_tmicon"><i class="fa fa-start" /></div>
    <div class="cbp_tmlabel">
      <div ng-if="event.type = 'created'">
        <h2>New sushi</h2>
        <blockquote>
          <p>{{event.title}}</p>
          <small>Creator <cite title="Source Title">{{event.actor.name}}</cite></small>
        </blockquote>
        <a ui-sref="sushi.viewer({sushiId : event.target})" class="btn btn-info">View sushi</a>
      </div>
      <div ng-if="event.type = 'subcreated'">
        <h2>{{event.actor.name}} created a sub sushi :</h2>
        <p>"{{event.title}}"</p>
        <p>parend sushi: "{{event.parent}}"
        <a ui-sref="sushi.viewer({sushiId : event.target})" class="btn btn-info">View sushi</a>
      </div>
    </div>
  </li>
</ul>
