
<div class="row" ng-show="budsActingOn">
  <h1>I'am actor on:</h1>
  <div class="col-lg-3 col-md-6 col-xs-12" ng-repeat="bud in budsActingOn | orderBy: bud.qi : reverse" id="bud_{{bud.id}}">
    <div class="widget shadow-z-5">
      <div class="widget-body">
        <div class="widget-icon green pull-left">
          <i class="glyphicon glyphicon-leaf" ng-class="bud.typeInfo.icon">{{bud.qi}}</i>
        </div>
        <div class="widget-content pull-left">
          <div class="title">
            <a ui-sref="bud.viewer({budId : bud._id})">{{bud.title}}</a>
          </div>
          <div class="comment">
            <h5>{{bud.type}} <b ng-if="bud.dataCache.state">{{bud.dataCache.state}}</b></h5>
            <h6>Created by <b>{{bud.creator.name}}</b><h6>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="spacer visible-xs"></div>
</div>

<div class="row" ng-show="buds">
  <h1>I can see:</h1>
  <div class="col-lg-3 col-md-6 col-xs-12" ng-repeat="bud in buds | orderBy: bud.qi : reverse" id="bud_{{bud.id}}">
    <div class="widget shadow-z-5">
      <div class="widget-body">
        <div class="widget-icon green pull-left">
          <i class="glyphicon glyphicon-leaf" ng-class="bud.typeInfo.icon">{{bud.qi}}</i>
        </div>
        <div class="widget-content pull-left">
          <div class="title">
            <a ui-sref="bud.viewer({budId : bud.id})">{{bud.title}}</a>
          </div>
          <div class="comment">
            <h5>{{bud.type}} <b nf-if="bud.dataCache.state">{{bud.dataCache.state}}</b></h5>
            <h6 ng-if="bud.dataCache.actor">actor <b>{{bud.dataCache.actor.name}}</b><h6>
            <h6>Created by <b>{{bud.creator.name}}</b><h6>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="spacer visible-xs"></div>
</div>
