<div class="panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      <div class="media-heading">

        <h2>
          <i class="glyphicon glyphicon-leaf">{{bud.qi}}</i> {{bud.title}}
          <div class="btn-group btn-group-xs pull-right">
            <button class="btn btn-default" disabled>{{bud.privacy}}</button>
            <a ui-sref="editor({budId : bud.id})" ng-if="bud.creator.id == common.user.id"class="btn btn-danger">Edit</a>
            <a ng-if="canShare()" ng-click="share()" class="btn btn-success">Share</a>
          </div>
        </h2>
        <small class="pull-right">
          <h4>Creator: {{bud.creator.name}}
          </h4>
          created at: {{bud.createdTime | date:'medium'}}
          <br/>
          last update:{{bud.lastUpdate | date:'medium'}}
        </small>
        <br/>
        <div class="btn-group btn-group-xs">
          <button class="btn btn-danger" ng-click="followBud($event)" ng-disabled="bud.creator.id == common.user.id">
              {{follower ? 'Unfollow' : 'Follow'}}
          </button>
          <button class="btn btn-default" disabled>
              {{followersCount}} followers
          </button>
        </div>
        <div class="btn-group btn-group-xs">
          <button class="btn btn-primary" ng-click="sponsorBud($event)" ng-disabled="bud.creator.id == common.user.id"><i class="glyphicon glyphicon-tint"></i>
            {{sponsorer ? 'Unsponsorize' : 'Sponsorize'}}
          </button>
          <button class="btn btn-default" disabled>
            {{sponsorsCount}} sponsors
          </button>
        </div>
      </div>
      <div class="btn-group btn-group-xs">
        <button class="btn btn-success" ng-click="supportBud($event)" ng-disabled="bud.creator.id == common.user.id">{{supporter ? 'Unsupport' : 'Support'}}</button>
        <rating class="btn btn-default"
        ng-model="supportValue"
        max="5"
        readonly="false"
        on-hover="hoveringOver(value)"
        on-leave="overStar = null"
        state-on="'glyphicon-leaf'"
        >
        </rating>
        <button class="btn btn-default" disabled>{{supportersCount}} supporters</button>
      </div>
      <br/>
    </div>

    <div ng-bind-html="bud.content"></div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Comments</div>
  <div class="panel-body">
    <ul class="media-list post-comments">
      <li class="media"><span class="arrow-up-small"></span></li>
      <li class="media post-comment" ng-repeat="comment in bud.comments">
        <a href="#" class="pull-left">
          <img class="media-object" ng-src="{{comment.from.picture}}" alt="">
        </a>
        <div class="media-body story-comment-body">
          <small><a href="#" class="bold">{{comment.from.name}}</a> {{comment.message}}</small>
          <small class="post-comment-tools">
            {{comment.createdTime | date:'short'}}
          </small>
        </div>
      </li>
      <li class="media post-comment comment-box">
        <a href="#" class="pull-left">
          <img class="media-object" ng-src="{{common.user.picture}}" alt="">
        </a>
        <div class="media-body post-comment-body">
          <textarea
          msd-elastic
          ng-model="bud.commentBox.message"
          ng-keypress="createComment($event, bud)"
          ng-disabled="bud.commentBox.disabled"
          class="form-control"
          placeholder="Write a comment...">
        </textarea>
        </div>
      </li>
    </ul>
  </div>
</div>


<script type="text/ng-template" id="sharebox.html">
    <div class="modal-header">
        <h3 class="modal-title">Sharebox</h3>
    </div>
    <div class="modal-body">
      Available (click to add):
      <div class="table-responsive">
        <table class="table table-hover">
          <tbody>
            <tr ng-repeat="user in users"><td ng-click="addUser(user)"><span><i class="fa fa-user"></i></span> {{ user.name }}</td></tr>
          </tbody>
        </table>
      </div>
      <div class="spacer visible-xs"></div>
      Selected (click to remove):
      <div class="table-responsive">
        <table class="table table-hover">
          <tbody>
            <tr ng-repeat="user in selectedUsers"><td ng-click="rmUser(user)"><span><i class="fa fa-user"></i></span> {{ user.name }}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()" ng-disabled="selectedUsers.length < 1" >Share</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>


<style type="text/css">
  /* Layout */

  .posts li {
    border-top: solid 1px #E9E9E9;
  }

  .post {
    margin-top: 0;
    padding-bottom: 18px;
    padding-top: 18px;
  }

  .post img {
    height: 50px;
    width: 50px;
  }

  .post-body h5 {
    margin: 0;
  }

  .post-tools {
    color: grey;
    display: block;
  }

  .post-comments li {
    background-color: #edeff4;
    border: none;
  }

  .post-comments li:first-child {
    background: none;
    line-height: 5px;
  }

  .post-comments li:nth-child(2) {
    margin-top: 0;
  }

  .post-comments li:nth-child(n + 3) {
    margin-top: 1px;
  }

  .post-comment {
    line-height: 13px;
    padding: 5px 5px 4px 5px;
  }

  .post-comment img {
    height: 32px;
    width: 32px;
  }

  .post-comment > .pull-left {
    margin-right: 8px;
  }

  .post-comment .comment-box {
  }

  .post-comment-body textarea {
    resize: vertical;
    height: 20px;
    width: 75%;
    margin: 0;
    padding-top: 1px;
    padding-bottom: 0;
    font-size: 12px;
    border-radius: 2px;
  }

  .post-comment-tools {
    color: gray;
    display: block;
    line-height: 16px;
    padding-top: 2px;
  }
</style>
