<div class="container-fluid" ng-cloak>
  <section ng-show="actionInProgress">
    <h6>Please wait...</h6>
    <div class="sk-spinner sk-spinner-fading-circle">
      <div class="sk-circle1 sk-circle"></div>
      <div class="sk-circle2 sk-circle"></div>
      <div class="sk-circle3 sk-circle"></div>
      <div class="sk-circle4 sk-circle"></div>
      <div class="sk-circle5 sk-circle"></div>
      <div class="sk-circle6 sk-circle"></div>
      <div class="sk-circle7 sk-circle"></div>
      <div class="sk-circle8 sk-circle"></div>
      <div class="sk-circle9 sk-circle"></div>
      <div class="sk-circle10 sk-circle"></div>
      <div class="sk-circle11 sk-circle"></div>
      <div class="sk-circle12 sk-circle"></div>
    </div>
  </section>
  <section ng-show="!actionInProgress">
    <ul class="clear-fix">
      <div class="btn-group btn-group-xs" ng-if="canEdit()">
        <button class="btn orange" ui-sref="bud.editor({budId: bud.id})"  ng-disabled="actionInProgress"><i class="fa fa-edit"></i>
          Edit
        </button>
      </div>
      <div class="btn-group btn-group-xs" ng-if="canShare()">
        <button class="btn btn-primary" ng-click="share()" ng-disabled="actionInProgress"><i class="mdi-social-share"></i>
          Share
        </button>
        <button class="btn btn-default" disabled>
          {{shareCount}} users
        </button>
        <growl-notification ng-show="shareCount == 0" class="alert alert-dismissable alert-success fading shadow-z-2"  ttl="10000">
          <button type="button" class="close" data-dismiss="alert" ng-click="$growlNotification.remove()">×</button>
          <p>Hey! Share me!</p>
          <div class="btn-group btn-group-xs">
            <button class="btn btn-primary" ng-click="share()" ng-disabled="actionInProgress"><i class="mdi-social-share"></i>
              Share
            </button>
          </div>
        </growl-notification>
      </div>
      <div class="btn-group btn-group-xs">
        <button class="btn btn-primary" ui-sref="bud.editor({budId: null,parentBudId: bud.id})" ng-disabled="actionInProgress"><i class="fa fa-share-alt"></i>
          Add bud
        </button>
        <button class="btn btn-default" disabled>
          {{bud.subbuds.count}} childs
        </button>
      </div>
      <div class="btn-group btn-group-xs">
        <button class="btn btn-danger" ng-click="followBud($event)" ng-disabled="bud.creator.id == common.user.id || actionInProgress">
          {{follower ? 'Unfollow' : 'Follow'}}
        </button>
        <button class="btn btn-default" disabled>
          {{followersCount}} followers
        </button>
      </div>
      <div class="btn-group btn-group-xs">
        <button class="btn btn-primary" ng-click="sponsorBud($event)" ng-disabled="bud.creator.id == common.user.id || actionInProgress"><i class="glyphicon glyphicon-tint"></i>
          {{sponsorer ? 'Unsponsorize' : 'Sponsorize'}}
        </button>
        <button class="btn btn-default" disabled>
          {{sponsorsCount}} sponsors
        </button>
      </div>
      <div class="btn-group btn-group-xs">
        <button class="btn btn-success" ng-click="supportBud($event)" ng-disabled="bud.creator.id == common.user.id || actionInProgress">{{supporter ? 'Unsupport' : 'Support'}}</button>
      <button class="btn btn-default" disabled>{{supportersCount}} supporters</button>
    </div>
    <div class="btn-group btn-group-xs">
      <button class="btn btn-danger" ng-click="delete()" ng-if="canDelete()" ng-disabled="actionInProgress"><i class="mdi-content-remove-circle"></i>
        Delete
      </button>
    </div>
  </ul>
  <div class="widget-icon orange pull-right"><h1> <i class="circle"> {{bud.qi}} </i> <img src="images/qibud.png" /></h1></div>
  <div class="jumbotron">
    <h1><i class="circle" ng-class="bud.typeInfo.icon"></i>{{bud.title}}</h1>
    <div class="bs-component">
      <ul class="breadcrumb" style="background-color: #f3f3f3;">
        <li><span class="divider">Type: <a>{{bud.type || 'Bud'}}</a></span></li>
        <li ng-if="bud.dataCache.state">Status: <a>{{bud.dataCache.state}}</a></li>
        <li>Creator : <a>{{bud.creator.name}}</a></li>
        <li ng-if="bud.dataCache.actor">Actor: <a>{{bud.dataCache.actor.name}}</a></li>
        <li><span class="divider">Privacy: <a>{{bud.privacy}}</a></span></li>
        <li ng-if="bud.parentBud"><span class="divider"> Derived from : <a ui-sref="bud.viewer({budId : bud.parentBud.id})" popover="{{bud.parentBud.type}}" popover-trigger="mouseenter">{{bud.parentBud.title}}</a></span></li>
        <li ng-if="bud.subBuds" >Contains: (<a ng-repeat="b in bud.subBuds" ui-sref="bud.viewer({budId : b.id})" popover="{{b.type || 'Bud'}}" popover-trigger="mouseenter"> [{{b.title}}] </a>)</li>
        <li ng-repeat="user in bud.shares">
          {{user.name}}
        </li>
      </ul>
    </div>
    <div ng-if="bud.type != 'Bud'" ui-view="summary"></div>
    <div ng-bind-html="bud.content"></div>
  </div>

  <div ng-if="canEvolve()" heading="">
    <br>

  </div>

  <div class="jumbotron">
    <h3>Feeback</h3>
    <div class="form-control-wrapper">
      <input class="form-control input-lg"
      ng-model="bud.commentBox.message"
      ng-keypress="createComment($event, bud)"
      ng-disabled="bud.commentBox.disabled"
      autofocus />
      <div class="floating-label">Your feedback:</div>
      <span class="material-input"></span>
    </div>
    <ul class="timeline">
      <li ng-repeat="comment in bud.comments | orderBy:'_id':true " ng-class="{'timeline-inverted': $index % 2 != 0}">
        <div class="timeline-badge" ui-sref="bud.editor({budId: null, parentBudId: bud.id,content:comment.message})" popover="Budify" popover-trigger="mouseenter">
          <i class="fa fa-comment"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">{{comment.from.name}}</h4>
            <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{comment.createdTime | date:'short'}}</small>
            </p>
          </div>
          <div class="timeline-body">
            <p>{{comment.message}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  </section>
</div>
<script type="text/ng-template" id="sharebox.html">
  <div class="modal-header">
      <h3 class="modal-title">Sharebox</h3>
  </div>
  <div class="modal-body">
    Teams members from (click to add members):
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
          <tr ng-repeat="team in teams"><td ng-click="addTeam(team)"><span><i class="fa fa-user"></i></span> {{ team.name }}</td></tr>
        </tbody>
      </table>
    </div>
    <div class="spacer visible-xs"></div>
    Available (click to add):
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
          <tr ng-repeat="user in users"><td ng-click="addUser(user)"><span><i class="fa fa-user"></i></span> {{ user.name }}</td></tr>
        </tbody>
      </table>
    </div>
    <div class="spacer visible-xs"></div>
    Selected (click to remove):
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
          <tr ng-repeat="user in selectedUsers"><td ng-click="rmUser(user)"><span><i class="fa fa-user"></i></span> {{ user.name }}</td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()" ng-disabled="selectedUsers.length < 1" >Share</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>



<style type="text/css">
  /* Layout */

  .posts li {
    border-top: solid 1px #E9E9E9;
  }

  .post {
    margin-top: 0;
    padding-bottom: 18px;
    padding-top: 18px;
  }

  .post img {
    height: 50px;
    width: 50px;
  }

  .post-body h5 {
    margin: 0;
  }

  .post-tools {
    color: grey;
    display: block;
  }

  .post-comments li {
    background-color: #edeff4;
    border: none;
  }

  .post-comments li:first-child {
    background: none;
    line-height: 5px;
  }

  .post-comments li:nth-child(2) {
    margin-top: 0;
  }

  .post-comments li:nth-child(n + 3) {
    margin-top: 1px;
  }

  .post-comment {
    line-height: 13px;
    padding: 5px 5px 4px 5px;
  }

  .post-comment img {
    height: 32px;
    width: 32px;
  }

  .post-comment > .pull-left {
    margin-right: 8px;
  }

  .post-comment .comment-box {
  }

  .post-comment-body textarea {
    resize: vertical;
    height: 20px;
    width: 75%;
    margin: 0;
    padding-top: 1px;
    padding-bottom: 0;
    font-size: 12px;
    border-radius: 2px;
  }

  .post-comment-tools {
    color: gray;
    display: block;
    line-height: 16px;
    padding-top: 2px;
  }
</style>
