<div class="container-fluid" ng-cloak>
  <section ng-show="actionInProgress">
    <h6>Please wait...</h6>
    <div class="sk-spinner sk-spinner-fading-circle">
      <div class="sk-circle1 sk-circle"></div>
      <div class="sk-circle2 sk-circle"></div>
      <div class="sk-circle3 sk-circle"></div>
      <div class="sk-circle4 sk-circle"></div>
      <div class="sk-circle5 sk-circle"></div>
      <div class="sk-circle6 sk-circle"></div>
      <div class="sk-circle7 sk-circle"></div>
      <div class="sk-circle8 sk-circle"></div>
      <div class="sk-circle9 sk-circle"></div>
      <div class="sk-circle10 sk-circle"></div>
      <div class="sk-circle11 sk-circle"></div>
      <div class="sk-circle12 sk-circle"></div>
    </div>
  </section>
  <section ng-show="!actionInProgress">
    <ul class="clear-fix">
      <div class="btn-group btn-group-xs pull-right" ng-if="canEdit()">
        <button class="btn orange" ui-sref="bud.editor({budId: bud.id})"  ng-disabled="actionInProgress"><i class="fa fa-edit"></i>
          Edit
        </button>
        <button class="btn green" ng-click="evolve()" ng-if="canEvolve()" ng-disabled="actionInProgress"><i class="fa fa-level-up"></i>
          Evolve
        </button>
        <button class="btn btn-danger" ng-click="delete()" ng-if="canDelete()" ng-disabled="actionInProgress"><i class="mdi-content-remove-circle"></i>
          Delete
        </button>
      </div>
    </ul>
    <br>
    <ul class="clear-fix">
      <div class="btn-group btn-group-xs" ng-if="canShare()">
        <button class="btn btn-primary" ng-click="share()" ng-disabled="actionInProgress"><i class="mdi-social-share"></i>
          Share
        </button>
        <button class="btn btn-default" disabled>
          {{shareCount}} users
        </button>
        <growl-notification ng-show="shareCount == 0" class="alert alert-dismissable alert-success fading shadow-z-2"  ttl="8000">
          <button type="button" class="close" data-dismiss="alert" ng-click="$growlNotification.remove()">×</button>
          <p>Hey! Share me!</p>
          <div class="btn-group btn-group-xs">
            <button class="btn btn-primary" ng-click="share()" ng-disabled="actionInProgress"><i class="mdi-social-share"></i>
              Share
            </button>
          </div>
        </growl-notification>
      </div>
      <div class="btn-group btn-group-xs">
        <button class="btn btn-primary" ui-sref="bud.editor({budId: null,parentBudId: bud.id})" ng-disabled="actionInProgress"><i class="fa fa-share-alt"></i>
          Add bud
        </button>
        <button class="btn btn-default disabled" disabled>
          {{bud.subbuds.count}} childs
        </button>
      </div>
      <div class="btn-group btn-group-xs">
        <button class="btn btn-danger" ng-click="followBud($event)" ng-disabled="bud.creator.id == common.user.id || actionInProgress">
          {{follower ? 'Unfollow' : 'Follow'}}
        </button>
        <button class="btn btn-default disabled" disabled>
          {{followersCount}} followers
        </button>
      </div>
      <div class="btn-group btn-group-xs">
        <button class="btn btn-primary" ng-click="sponsorBud($event)" ng-disabled="bud.creator.id == common.user.id || actionInProgress"><i class="glyphicon glyphicon-tint"></i>
          {{sponsorer ? 'Unsponsorize' : 'Sponsorize'}}
        </button>
        <button class="btn btn-default disabled" disabled>
          {{sponsorsCount}} sponsors
        </button>
      </div>
      <div class="btn-group btn-group-xs">
        <button class="btn btn-success" ng-click="supportBud($event)" ng-disabled="bud.creator.id == common.user.id || actionInProgress">{{supporter ? 'Unsupport' : 'Support'}}</button>
        <button class="btn btn-default btn-default disabled" disabled>{{supportersCount}} supporters</button>
      </div>
      <div class="btn-group btn-group-xs">
        <button class="btn btn-primary" ng-click="sendByMail($event)" ng-disabled="actionInProgress"><i class="fa fa-paper-plane"></i>
          Send by email
        </button>
        <growl-notification ng-show="mailSended" class="alert alert-dismissable alert-success fading shadow-z-2"  ttl="8000">
          <button type="button" class="close" data-dismiss="alert" ng-click="$growlNotification.remove()">×</button>
          <p>Email sent!</p>
        </growl-notification>
        <growl-notification ng-show="mailErrored" class="alert alert-dismissable alert-error fading shadow-z-2"  ttl="8000">
          <button type="button" class="close" data-dismiss="alert" ng-click="$growlNotification.remove()">×</button>
          <p>Error while sending mail :/</p>
        </growl-notification>
      </div>
    </ul>
    <div class="widget-icon orange pull-right"><h1> <i class="circle"> {{bud.qi}} </i> <img src="images/qibud.png" /></h1></div>
    <div class="jumbotron">
      <h1><i class="circle" ng-class="bud.typeInfo.icon"></i>{{bud.title}}</h1>
      <div class="bs-component">
        <ul class="breadcrumb" style="background-color: #f3f3f3;">
          <li><span class="divider">Type: <a>{{bud.type || 'Bud'}}</a></span></li>
          <li ng-if="bud.dataCache.state">Status: <a>{{bud.dataCache.state}}</a></li>
          <li>Creator : <a>{{bud.creator.name}}</a></li>
          <li ng-if="bud.dataCache.actor">Actor: <a>{{bud.dataCache.actor.name}}</a></li>
          <li><span class="divider">Privacy: <a>{{bud.privacy}}</a></span></li>
          <li ng-if="bud.parentBud"><span class="divider"> Derived from : <a ui-sref="bud.viewer({budId : bud.parentBud.id})">{{bud.parentBud.title}}</a></span></li>
          <li ng-if="bud.subBuds" >Contains: (<a ng-repeat="b in bud.subBuds" ui-sref="bud.viewer({budId : b.id})"> [{{b.title}}] </a>)</li>
          <li ng-repeat="user in bud.shares">
            {{user.name}}
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <section class="well">
            <div ng-if="bud.type != 'Bud'" ui-view="summary"></div>
            <div ng-bind-html="bud.content"></div>
          </section>
        </div>
        <div class="col-lg-3">
          <section class="well">
            <h3><i class="mdi-editor-attach-file"></i> Attachments</h3>
            <div ng-show="bud.files" class="bs-component">
              <ul ng-repeat="f in bud.files" class="breadcrumb">
                <li>
                  <div class="btn-group btn-group-sm">
                    <a class="btn orange" ng-href="{{f.path}}" download="{{f.name}}">
                      <i class="mdi-file-file-download"></i> {{f.name}}
                    </a>
                    <button ng-if="canEdit()" class="btn btn-danger" ng-click="removeAttachment(f)">
                      <i class="mdi-content-clear"></i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
            <button class="btn btn-primary" accept=".jpg,.png,.pdf" ng-file-select ng-file-change="upload($files)">Add attachment</button>
            <div ng-file-drop ng-model="files" class="drop-box"
            drag-over-class="dragover"
            accept=".jpg,.png,.pdf">Drop Attachment</div>
            <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <section>
            <h3>Feeback</h3>
            <div class="form-control-wrapper">
              <input class="form-control input-lg"
              ng-model="bud.commentBox.message"
              ng-keypress="createComment($event, bud)"
              ng-disabled="bud.commentBox.disabled"
              autofocus />
              <div class="floating-label">Your feedback:</div>
              <span class="material-input"></span>
            </div>
            <br>
          </section>
          <section class="comment-list">
            <article class="row" ng-repeat="comment in bud.comments | orderBy:'_id':true ">
              <div class="col-md-2 col-sm-2 hidden-xs" ng-if="$index %2 == 0">
                <figure class="thumbnail">
                  <img class="img-responsive" src="{{comment.from.picture}}" />
                  <figcaption class="text-center orange">level {{comment.from.lvl}}</figcaption>
                </figure>
              </div>
              <div class="col-md-10 col-sm-10">
                <div class="panel panel-default arrow" ng-class-even="'right'" ng-class-odd="'left'">
                  <div class="panel-body">
                    <header ng-class-even="'text-right'" ng-class-odd="'text-left'">
                      <div class="comment-user"><i class="fa fa-user"></i>{{comment.from.name}}</div>
                      <time class="comment-date" datetime="{{comment.createdTime | date:'short'}}"><i class="fa fa-clock-o"></i> {{comment.createdTime | date:'short'}}</time>
                    </header>
                    <div class="comment-post">
                      <p>
                        {{comment.message}}
                      </p>
                    </div>
                    <p class="text-right"><a ui-sref="bud.editor({budId: null, parentBudId: bud.id,content:comment.message})" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> create bud</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-2 hidden-xs" ng-if="$index %2 != 0">
                <figure class="thumbnail">
                  <img class="img-responsive" src="{{comment.from.picture}}" />
                  <figcaption class="text-center orange">level {{comment.from.lvl}}</figcaption>
                </figure>
              </div>
            </article>
          </section>
        </div>
      </div>
    </div>

    <div class="jumbotron" ng-show="supportersCount > 0">
      <h3>In support</h2>
      <div ng-repeat="user in bud.supporters">
        <div class="widget-icon pull-right">
          <div class="btn-group btn-group-xs">
            <button class="btn green" disabled>Level <i class="circle">{{user.lvl}}</i></button>
            <button class="btn orange" disabled><i class="circle">{{user.xp}}</i> XP</button>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <img ng-src="/api/users/{{user.id}}/picture" width="50px" alt="" / > {{user.name}}
          </div>
        </div>
      </div>
    </div>

    <!--
    <div class="jumbotron">
      <h3>Feeback</h3>
      <div class="form-control-wrapper">
        <input class="form-control input-lg"
        ng-model="bud.commentBox.message"
        ng-keypress="createComment($event, bud)"
        ng-disabled="bud.commentBox.disabled"
        autofocus />
        <div class="floating-label">Your feedback:</div>
        <span class="material-input"></span>
      </div>
      <ul class="timeline">
        <li ng-repeat="comment in bud.comments | orderBy:'_id':true " ng-class="{'timeline-inverted': $index % 2 != 0}">
          <div class="timeline-badge" ui-sref="bud.editor({budId: null, parentBudId: bud.id,content:comment.message})" popover="Budify" popover-trigger="mouseenter">
            <i class="fa fa-comment"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{comment.from.name}}</h4>
              <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{comment.createdTime | date:'short'}}</small>
              </p>
            </div>
            <div class="timeline-body">
              <p>{{comment.message}}</p>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
  </section>
</div>
<script type="text/ng-template" id="sharebox.html">
  <div class="modal-header">
      <h3 class="modal-title">Sharebox</h3>
  </div>
  <div class="modal-body">
    Teams members from (click to add members):
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
          <tr ng-repeat="team in teams"><td ng-click="addTeam(team)"><span><i class="fa fa-user"></i></span> {{ team.name }}</td></tr>
        </tbody>
      </table>
    </div>
    <div class="spacer visible-xs"></div>
    Available (click to add):
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
          <tr ng-repeat="user in users"><td ng-click="addUser(user)"><span><i class="fa fa-user"></i></span> {{ user.name }}</td></tr>
        </tbody>
      </table>
    </div>
    <div class="spacer visible-xs"></div>
    Selected (click to remove):
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
          <tr ng-repeat="user in selectedUsers"><td ng-click="rmUser(user)"><span><i class="fa fa-user"></i></span> {{ user.name }}</td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()" ng-disabled="selectedUsers.length < 1" >Share</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>
<script type="text/ng-template" id="assignbox.html">
  <div class="modal-header">
    <h3 class="modal-title">Assignbox</h3>
  </div>
  <div class="modal-body">
    Available (click to add):
    <div class="table-responsive">
    <table class="table table-hover">
    <tbody>
    <tr ng-repeat="user in users"><td ng-click="assignUser(user)"><span><i class="fa fa-user"></i></span> {{ user.name }}</td></tr>
    </tbody>
    </table>
    </div>
    <div class="spacer visible-xs"></div>
    Assigned (click to remove):
    <div class="table-responsive">
    <table class="table table-hover">
    <tbody>
    <tr ng-show="selectedUser"><td ng-click="unassignUser(selectedUser)"><span><i class="fa fa-user"></i></span> {{ selectedUser.name }}</td></tr>
    </tbody>
    </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="selectedUser.length < 1" >Assign</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>
<script type="text/ng-template" id="evolvebox.html">
  <div class="modal-header">
  <h3 class="modal-title">Evolve your bud ? </h3>
  </div>
  <div class="modal-body">
  <div class="list-group">
  <div class="list-group-item" ng-repeat="type in availableTypes">
  <div ng-show="type.evolve != false">
    <div class="row-picture">
    <a class="btn btn-success btn-fab btn-raised" ng-class="type.icon" ng-click="setSelected(type.id)"></a>
    </div>
    <div class="row-content">
    <h4 class="list-group-item-heading">{{type.id}}</h4>
    <p class="list-group-item-text">{{type.desc}}</p>
    </div>
    </div>
    </div>
    <div class="list-group-separator"></div>
    </div>
  </div>
  <div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok(selectedType)">Evolve in {{selectedType}}</button>
  <button class="btn btn-warning" ng-click="cancel()">later...</button>
  </div>
</script>
<script type="text/ng-template" id="sendbymail.html">
<div class="modal-header">
  <h3 class="modal-title">Send by email </h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="inputEmail" class="col-lg-2 control-label">To:</label>
    <div class="col-lg-10">
      <input type="email" ng-model="to" class="form-control" id="inputEmail" placeholder="Email">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok(to)">Send</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</script>
