
<div ng-if="!packData.actor">
  <input
  class="btn btn-primary btn-success btn-xl btn-raised"
  ng-click="setActor($event, packData.state, packData, load)"
  value="I wanna be actor !"
  />
  <input
  class="btn btn-primary btn-success btn-xl btn-raised"
  ng-click="assignActor($event, packData.state, packData, load)"
  value="Assign to user"
  />
</div>
<div ng-if="isActorOrCreator() && packData.actor">
  <input
  class="btn btn-primary btn-warning btn-xl btn-raised"
  ng-click="unsetActor($event, packData.state, packData, load)"
  value="Set this idea free..."
  />
</div>
<div ng-if="packData.state == 'Waiting'">
  <h2>Waiting for a sponsor, mission, project or action </h2>
</div>
<div ng-if="packData.state == 'Sponsored'">
  <h2>Idea <b>Sponsored!</b></h2>
</div>
<div ng-if="packData.state == 'Selected'">
  <h2>Idea <b>Selected!</b></h2>
</div>
<div ng-if="packData.state == 'Primed'">
  <h2>Idea <b>Primed!</b></h2>
</div>
