
<div ng-if="!packData.actor && packData.state == 'Free'">
  <input
  class="btn btn-primary btn-success btn-xl btn-raised"
  ng-click="setActor($event)"
  value="I wanna be actor !"
  />
</div>
<div ng-if="packData.actor && packData.state == 'Assigned'">
  <div ng-show="isActorOrCreator()">
    <input
    class="btn btn-primary btn-warning btn-xl btn-raised"
    ng-click="unsetActor($event)"
    value="Set this action free..."
    />
  </div>
</div>
<div ng-if="packData.state == 'Ended'">
  <p>Resolved successfuly! by {{packData.actor.name}}</p>
</div>
