<div ng-if="packData.state == 'Waiting'">
  <button ng-show="isCreator ()" class="btn btn-success" ng-click="startMeeting ()"  ng-disabled="actionInProgress"><i class="fa fa-soccer-ball-o"></i>
    Start Meeting !
  </button>
  <div ng-show="isCreator ()" ng-show="users.length > 0">
    Choose participants:
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
          <tr ng-repeat="user in users"><td ng-click="addUser(user)"><span><i class="fa fa-user"></i></span> {{ user.name }}</td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <h2>Meeting invited participants</h2>
  <div ng-repeat="p in packData.participations">
    <div class="widget-icon pull-right">
      <div class="btn-group btn-group-xs">
        <button ng-if="!canSetParticipantState (p.user.id)" class="btn green" disabled>Level <i class="circle">{{p.user.lvl}}</i></button>
        <button ng-if="isCreator()"  class="btn btn-danger" ng-click="rmUser(p.user)"  ng-disabled="actionInProgress"><i class="mdi-content-remove-circle"></i>
          Remove participation
        </button>
      </div>
      <div class="btn-group btn-group-xs">
        <button ng-if="canSetParticipantState (p.user.id)"  class="btn btn-danger" ng-click="setParticipantState(p.user.id, 'Declined')"  ng-disabled="actionInProgress"><i class="fa fa-thumbs-o-down"></i>
          Decline
        </button>
      </div>
      <div class="btn-group btn-group-xs">
        <button ng-if="canSetParticipantState (p.user.id)"  class="btn btn-warning" ng-click="setParticipantState(p.user.id, 'Provisory')"  ng-disabled="actionInProgress"><i class="fa fa-question-circle"></i>
          Accept provisory
        </button>
      </div>
      <div class="btn-group btn-group-xs">
        <button ng-if="canSetParticipantState (p.user.id)"  class="btn btn-success" ng-click="setParticipantState(p.user.id, 'Accepted')"  ng-disabled="actionInProgress"><i class="fa fa-thumbs-o-up"></i>
          Accept
        </button>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <img ng-src="/api/users/{{p.user.id}}/picture" width="50px" alt="" / > {{p.user.name}} - <b>{{p.state}}</b>
      </div>
    </div>
  </div>
  <div ng-show="isCreator ()">
    <table st-table="displayedBuds" st-safe-src="buds" class="table table-striped table-hover ">
      <h2>Choose buds to include:</h2>
      <thead>
        <tr>
          <th st-sort="qi">Qi</th>
          <th st-sort="type">Type</th>
          <th st-sort="title">Title</th>
          <th st-sort="creator.name">Creator</th>
          <th st-sort="dataCache.actor.name">Actor</th>
          <th st-sort="dataCache.state">State</th>
          <th/>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="bud in displayedBuds" class="active">
          <td>{{bud.qi}}</td>
          <td><i class="glyphicon glyphicon-leaf" ng-class="bud.typeInfo.icon"></i> {{bud.type}}</td>
          <td>{{bud.title}}</td>
          <td>{{bud.creator.name}}</td>
          <td>{{bud.dataCache.actor.name}}</td>
          <td><b>{{bud.dataCache.state}}</b></td>
          <td><div class="btn-group btn-group-xs"><button ng-if="isCreator ()"  class="btn btn-xs btn-success" ng-click="addBudToMeeting(bud)"  ng-disabled="actionInProgress"><i class="mdi-content-plus"></i>
            Add to meeting
          </button></div></td>
        </tr>
      </tbody>
      <tfoot>
        <td st-pagination="" st-items-by-page="10" colspan="4" />
      </tfoot>
    </table>
  </div>
</div>
<div ng-if="packData.state == 'Started'">
  <button ng-if="isCreator ()" class="btn btn-warning" ng-click="finishMeeting ()"  ng-disabled="actionInProgress"><i class="fa fa-legal"></i>
    Finish Meeting...
  </button>
  <div class="jumbotron">
    <carousel interval="15000">
      <slide ng-repeat="bud in displayedBuds4Meeting" active="slide.active">
          <div class="widget-icon orange pull-right"><h1> <i class="circle"> {{bud.qi}} </i> <img src="images/sushi.png" /></h1></div>
          <div class="well" style="background-color: #f3f3f3;">
            <h1><i class="circle" ng-class="bud.typeInfo.icon"></i>{{bud.title}} <small>{{bud.type || 'Bud'}}</small></h1>
            <h3 ng-if="bud.dataCache.state">Status: {{bud.dataCache.state}}</h3>
            <ul class="breadcrumb well" style="background-color: #f3f3f3;">
              <li><span class="divider">Type: <a>{{bud.type || 'Bud'}}</a></span></li>
              <li ng-if="bud.dataCache.state">Status: <a>{{bud.dataCache.state}}</a></li>
              <li>Creator : <a>{{bud.creator.name}}</a></li>
              <li ng-if="bud.dataCache.actor">Actor: <a>{{bud.dataCache.actor.name}}</a></li>
              <li><span class="divider">Privacy: <a>{{bud.privacy}}</a></span></li>
              <li ng-if="bud.parentBud"><span class="divider"> Derived from : <a ui-sref="bud.viewer({budId : bud.parentBud.id})">{{bud.parentBud.title}}</a></span></li>
              <li ng-if="bud.subBuds" >Contains: (<a ng-repeat="b in bud.subBuds" ui-sref="bud.viewer({budId : b.id})"> [{{b.title}}] </a>)</li>
              <li ng-repeat="user in bud.shares">
                {{user.name}}
              </li>
            </ul>
            <div ng-bind-html="bud.content"></div>
          </div>
      </slide>
    </carousel>
  </div>
  <table st-table="displayedBuds4Meeting" st-safe-src="packData.buds" class="table table-striped table-hover ">
    <h2>Meeting buds</h2>
    <thead>
      <tr>
        <th st-sort="qi">Qi</th>
        <th st-sort="type">Type</th>
        <th st-sort="title">Title</th>
        <th st-sort="creator.name">Creator</th>
        <th st-sort="dataCache.actor.name">Actor</th>
        <th st-sort="dataCache.state">State</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="bud in displayedBuds4Meeting" ui-sref="bud.viewer({budId : bud.id})" class="active">
        <td>{{bud.qi}}</td>
        <td><i class="glyphicon glyphicon-leaf" ng-class="bud.typeInfo.icon"></i> {{bud.type}}</td>
        <td>{{bud.title}}</td>
        <td>{{bud.creator.name}}</td>
        <td>{{bud.dataCache.actor.name}}</td>
        <td><b>{{bud.dataCache.state}}</b></td>
      </tr>
    </tbody>
    <tfoot>
      <td st-pagination="" st-items-by-page="10" colspan="4" />
    </tfoot>
  </table>
</div>
<style>
.st-sort-ascent:before{
  content: '\25B2';
}

.st-sort-descent:before{
  content: '\25BC';
}
</style>
