<div class="widget">
  <div class="widget-header">
    <i class="fa fa-edit"></i> Edit Team
    <a href="#" class="pull-right">Help</a>
  </div>
  <div class="widget-body">
    Available members (click to add):
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
          <tr ng-repeat="user in users"><td ng-click="addUser(user)"><span><i class="fa fa-user"></i></span> {{ user.name }}</td></tr>
        </tbody>
      </table>
    </div>
    <div class="spacer visible-xs"></div>
    Members (click to remove):
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
          <tr ng-repeat="user in packData.members"><td ng-click="rmUser(user)"><span><i class="fa fa-user"></i></span> {{ user.name }}</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
