<div ng-if="canEditTeam ()" ng-show="users.length > 0">
  Complete team members (click to add):
  <div class="table-responsive">
    <table class="table table-hover">
      <tbody>
        <tr ng-repeat="user in users"><td ng-click="addUser(user)"><span><i class="fa fa-user"></i></span> {{ user.name }}</td></tr>
      </tbody>
    </table>
  </div>
</div>
<div ng-repeat="user in packData.members">
  <div class="widget-icon pull-right">
    <div class="btn-group btn-group-xs">
      <button class="btn green" disabled>Level <i class="circle">{{user.lvl}}</i></button>
      <button class="btn orange" disabled><i class="circle">{{user.xp}}</i> XP</button>
      <button ng-if="canEditTeam ()"  class="btn btn-danger" ng-click="rmUser(user)"  ng-disabled="actionInProgress"><i class="mdi-content-remove-circle"></i>
        Remove from team
      </button>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <img ng-src="/api/users/{{user.id}}/picture" width="100px" alt="" / > {{user.name}}
    </div>
  </div>
</div>
