<div class="container-fluid">
  <section>
    <div class="widget-icon orange pull-right"><h1> <i class="circle"> {{editedSushi.qi}} </i> <img src="images/sushi.png" /></h1></div>
    <div class="jumbotron">
      <h1><i class="circle" ng-class="sushi.typeInfo.icon"></i>{{sushiBox.title}}</h1>
      <div class="bs-component">
        <ul class="breadcrumb" style="background-color: #f3f3f3;">
          <li ng-if="parentSushi"><span class="divider"> Derived from : <a ui-sref="sushi.viewer({sushiId : parentSushi.id})" popover="{{parentSushi.type}}" popover-trigger="mouseenter">{{parentSushi.title}}</a></span></li>
        </ul>
        <ul ng-if="sushiBox.action == 'update'" class="breadcrumb" style="background-color: #f3f3f3;">
          <li><span class="divider">Type: <a>{{editedSushi.type || 'Sushi'}}</a></span></li>
          <li>Creator : <a>{{editedSushi.creator.name}}</a></li>
          <li><span class="divider">Privacy: <a>{{sushiBox.privacy}}</a></span></li>
          <li ng-if="sushi.parentSushi"><span class="divider"> Derived from : <a ui-sref="sushi.viewer({sushiId : editedSushi.parentSushi.id})" popover="{{editedSushi.parentSushi.type}}" popover-trigger="mouseenter">{{editedSushi.parentSushi.title}}</a></span></li>
          <li ng-if="sushi.subSushis" >Contains: (<a ng-repeat="b in editedSushi.subSushis" ui-sref="sushi.viewer({sushiId : b.id})" popover="{{b.type || 'Sushi'}}" popover-trigger="mouseenter"> [{{b.title}}] </a>)</li>
        </ul>
      </div>
      <div class="form-control-wrapper">
        <input class="form-control input-lg"
        autofocus
        type="text"
        name="sushiTitle"
        ng-disabled="sushiBox.disabled"
        ng-model="sushiBox.title"
        required />
        <div class="floating-label">Your sushi title</div>
        <span class="material-input"></span>
      </div>
      <div class="form-control-wrapper">
        <textarea
        ui-tinymce
        ng-model="sushiBox.content"
        class="form-control"
        name="message"
        placeholder="Type your sushi here..."
        ng-disabled="sushiBox.disabled">
        </textarea>
        <span class="help-block">
          May the Qi be with you!
        </span>
    </div>
    <div class="form-group">
      <label for=""><strong>Privacy: </strong></label>
      <div class="radio radio-primary">
        <label>
          <input type="radio" name="optionsRadios"  ng-model="sushiBox.privacy" value="Private" checked>
          <span class="circle"></span>
          <span class="check"></span>
          This sushi is non-sharable, only visible by the creator
        </label>
      </div>
      <div class="radio radio-primary">
        <label>
          <input type="radio" name="optionsRadios"  ng-model="sushiBox.privacy" value="Private2Share">
          <span class="circle"></span>
          <span class="check"></span>
          Sharable for creator and current actor
        </label>
      </div>
      <div class="radio radio-primary">
        <label>
          <input type="radio" name="optionsRadios"  ng-model="sushiBox.privacy" value="Free2Share">
          <span class="circle"></span>
          <span class="check"></span>
          Sharable for everyone
        </label>
      </div>
    </div>
    <input
    ng-if="sushiBox.action == 'create'"
    class="btn btn-primary btn-success btn-xl btn-raised"
    ng-click="createSushi($event)"
    value="Create sushi"
    ng-disabled="!sushiBox.title || !sushiBox.privacy || !sushiBox.content"
    />
    <input
    ng-if="sushiBox.action == 'subsushi'"
    class="btn btn-primary btn-success btn-xl btn-raised"
    ng-click="createSushi($event)"
    value="Create child sushi"
    ng-disabled="!sushiBox.title || !sushiBox.privacy || !sushiBox.content"
    />
    <input
    ng-if="sushiBox.action == 'update'"
    class="btn btn-primary btn-success btn-xl btn-raised"
    ng-click="updateSushi($event)"
    value="Update sushi"
    ng-disabled="!sushiBox.title || !sushiBox.privacy || !sushiBox.content"
    />
    </div>
  </section>
</div>
<script type="text/ng-template" id="evolvebox.html">
<div class="modal-header">
  <h3 class="modal-title">Evolve your sushi ? </h3>
</div>
<div class="modal-body">
<div class="list-group">
<div class="list-group-item" ng-repeat="type in availableTypes">
  <div ng-show="type.id != 'Sushi'">
    <div class="row-picture">
      <a class="btn btn-success btn-fab btn-raised" ng-class="type.icon" ng-click="setSelected(type.id)"></a>
    </div>
    <div class="row-content">
      <h4 class="list-group-item-heading">{{type.id}}</h4>
      <p class="list-group-item-text">{{type.desc}}</p>
    </div>
  </div>
</div>
<div class="list-group-separator"></div>
</div>
</div>
<div class="modal-footer">
<button class="btn btn-primary" ng-click="ok(selectedType)" ng-show="selectedType != 'Sushi'" >Evolve in {{selectedType}}</button>
<button class="btn btn-warning" ng-click="cancel()">later...</button>
</div>
</script>
<style type="text/css">
  /* Message box */

  .message-box {
    background-color: #fdfdfd;
    border-radius: 7px;
  }

  .message-box form {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
  }

  .message-box form textarea {
    resize: vertical;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    height: 65px;
  }

  .message-box-tools {
    height: 31px;
  }
</style>
