<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <form ng-submit="createBud($event)">
          <div class="clear-fix">
            <label for="requestTitle"><strong>Bud: </strong></label>
            <div class="form-group">
              <input
              class="form-control"
              type="text"
              name="budTitle"
              ng-disabled="budBox.disabled"
              ng-model="budBox.title"
              class="required" />
              <label for="file"><strong>Add file: </strong></label>
              <div class="input">
                 <input class="input-file" type="file" name="file"/>
              </div>
            </div>
          </div>
          <div class="clear-fix">
            <label for="content"><strong>Content: </strong></label>
            <div class="form-group">
                <textarea
                ckeditor="budbox.editorOptions"
                msd-elastic
                ng-model="budBox.content"
                class="form-control"
                name="message"
                placeholder="Type your bud here..."
                ng-disabled="budBox.disabled">
                </textarea>
                <span class="help-block">
                May the Qi be with you!
                </span>
            </div>
          </div>
          <div class="well">
              <div class="form-group">
                <label for=""><strong>Privacy: </strong></label>
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios"  ng-model="budBox.privacy" value="Private" checked>
                    This bud is non-sharable, only visible by the creator
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios"  ng-model="budBox.privacy" value="Private2Share">
                    Sharable for creator and current actor
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios"  ng-model="budBox.privacy" value="Free2Share">
                    Sharable for everyone
                  </label>
                </div>
              </div>
              <input
              class="btn btn-primary btn-xl"
              type="submit"
              value="Create bud"
              ng-disabled="!budBox.title || !budBox.privacy || !budBox.content"
              />
          </div>
      </form>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="page-header">
            <h1>{{budBox.title}}</h1>
        </div>
        <div ng-bind-html="budBox.content"></div>

    </div>
  </div>
</div>



<style type="text/css">
  /* Message box */

  .message-box {
    background-color: #fdfdfd;
    border-radius: 7px;
  }

  .message-box form {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
  }

  .message-box form textarea {
    resize: vertical;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    height: 65px;
  }

  .message-box-tools {
    height: 31px;
  }
</style>
