
<div ng-if="!packData.actor && packData.state == 'Free'">
  <input
  class="btn btn-primary btn-success btn-xl btn-raised"
  ng-click="setActor($event, 'Waiting', packData, load)"
  value="I wanna be actor !"
  />
  <input
  class="btn btn-primary btn-success btn-xl btn-raised"
  ng-click="assignActor($event, 'Waiting', packData, load)"
  value="Assign to user"
  />
</div>
<div ng-if="packData.actor && packData.state == 'Waiting'">
  <div ng-show="isActorOrCreator()">
    <input
    class="btn btn-primary btn-warning btn-xl btn-raised"
    ng-click="unsetActor($event, 'Free', packData, load)"
    value="Set this action free..."
    />
  </div>
</div>
<div ng-if="packData.state == 'Ended'">
  <p>Ended successfuly!</p>
</div>
